
    <%= form_tag session_path, class: "w3-container w3-light-grey" do %>
		<h1>Login</h1>
		<%= email_field_tag :email, nil, :placeholder =>"Email", class: "w3-input w3-border-0" %><br />
		<%= password_field_tag :password, nil, :placeholder =>"Password", class: "w3-input w3-border-0" %><br />
		<%= submit_tag "Login", class: "w3-button w3-block w3-black", style: "width:30%" %>
	<% end %><br>
  <%= link_to "Not a Member?", new_user_path %>

	

