<h1> Listing of all users </h1><hr><hr>
<table class="w3-table w3-striped w3-bordered">
	<tr>
	  <th>Name</th>
	  <th>Email</th>
	  <th>Phone</th>
	  <th>Address</th>
	  <th>Total Purchase</th>
	</tr>
	<% @users.each do |user| %>	
		<tr>
		  <td><%= user.first_name %>&nbsp <%= user.last_name %></td>
		  <td><%= user.email %></td>
		  <td><%= user.phone %></td>
		  <td><%= user.address %></td>
		  <td><%= user.total_spent %></td>
		  <td><%= link_to "Edit User", edit_user_path(user) %></td>
		</tr>
	<% end %>
	 
	
	
</table>
