
  <div id="<%= dom_id(@order) %>" class="w3-container w3-full">
   <h2>order id: <%= @order.id %></h2>
   <h3>order items:</h3> 
   <table class="w3-table w3-striped w3-bordered">
   <tr>
      <th>Image</th>
       <th>Name</th>
       <th>Quantity</th>
       <th>Price</th>
       <th>Amount</th>
       <th>Remove</th>
    </tr> 
     <% @order.order_items.each do |order_item| %>
    <tr>
      <td><%= image_tag order_item.item.image(:thumb) %></td>
      <td><%= order_item.item.name %> </td>
      <td><%= order_item.quantity %> </td>
      <td><%= order_item.item.price %> </td>
      <td><%= order_item.total %> </td>
      <td><%= link_to "Remove", order_item_path(order_item), {class: "w3-button w3-red", method: :delete} %> </td>
    </tr> 
    <% end %>
    <tr>
      <td><b>Order created at:</b> </td>
      <td><%= @order.created_at.strftime("%d %b. %Y") %>&nbsp<%= @order.created_at.strftime("%H:%M") %> </td>
      <td><b>Order updated at:</b> </td>
      <td><%= @order.updated_at.strftime("%d %b. %Y") %> &nbsp <%= @order.updated_at.strftime("%H:%M") %> </td>
      <td><b> Order Total:</b></td>
      <td>Mrf <%= @order.total %></td>
    </tr> 
    <tr>
      <td colspan="2"> <% if current_order.items.any? %> 
        <%= link_to "Submit Order", checkout_path, class: "w3-button w3-red" %>
        <% else %>
        <%= link_to "Submit Order", orders_path(current_order), method: :get, class: "w3-button w3-red", data:{confirm: "You need to add items if you want to check out!"} %>
       <% end %></td>
      <td colspan="2"><%= link_to "See Past Orders", orders_path, class: "w3-button w3-red" %> </td>
      <td colspan="2"><%= link_to "Back to the Menu", categories_path, class: "w3-red w3-button" %> </td>
      
    </tr> 
</table> 

