<% if !current_user.admin? %>
<div id="<%= dom_id(@order) %>" class="w3-container w3-full">
   <h2>order id: <%= @order.id %></h2>
   <h3>order items:</h3> 
   <table class="w3-table w3-striped w3-bordered">
   <tr>
      <th>Image</th>
       <th>Name</th>
       <th>Quantity</th>
       <th>Price</th>
       <th>Amount</th>
       <th>Remove</th>
    </tr> 
     <% @order.order_items.each do |order_item| %>
    <tr>
      <td><%= image_tag order_item.item.image(:thumb) %></td>
      <td><%= order_item.item.name %> </td>
      <td><%= order_item.quantity %> </td>
      <td><%= order_item.item.price %> </td>
      <td><%= order_item.total %> </td>
      <td><%= link_to "Remove", order_item_path(order_item), {class: "w3-button w3-red", method: :delete} %> </td>
    </tr> 
    <% end %>
    <tr>
      <td><b>Order created at:</b> </td>
      <td><%= @order.created_at.strftime("%d %b. %Y") %>&nbsp<%= @order.created_at.strftime("%H:%M") %> </td>
      <td><b>Order updated at:</b> </td>
      <td><%= @order.updated_at.strftime("%d %b. %Y") %> &nbsp <%= @order.updated_at.strftime("%H:%M") %> </td>
      <td><b> Order Total:</b></td>
      <td>Mrf <%= @order.total %></td><td>
    </tr> 
    <tr>
      <td> <% if current_order.items.any? %> 
        <%= link_to "Submit Order", checkout_path, class: "w3-button w3-red" %>
        <% else %>
        <%= link_to "Submit Order", orders_path(current_order), method: :get, class: "w3-button w3-red", data:{confirm: "You need to add items if you want to check out!"} %>
       <% end %></td>
      <td><%= link_to "See Past Orders", orders_path, class: "w3-button w3-red" %> </td>
      <td><%= link_to "Back to the Menu", categories_path, class: "w3-red w3-button" %> </td>
      
    </tr> 
</table>   
   
</div>

<% else %>
<div class= "w3-container  w3-half">
  <table class="w3-center w3-light-gray">
    <tr>  <td colspan="5">Seera Fast Food Maldives Pvt. Ltd</td> </tr>
    <tr>  <td colspan="5">Alikilegefaanu Magu, Male'</td> </tr>
    <tr>  <td colspan="5">Phone: 3325913</td> </tr>
    <tr>  <td colspan="5"><b>TAX INVOICE</b></td> </tr>
    <tr>  <td colspan="1">GST NO: </td><td> </td><td> </td><td> </td><td colspan="2" class = "w3-left"><%= @order.user.phone %> </td> </tr>
    <tr>  
      <td colspan="1" class = "w3-right"><%= @order.updated_at.strftime("%d %b. %Y") %> </td>
      <td colspan="3"> <%= @order.user.id %></td>
      <td colspan="1"><%= @order.updated_at.strftime("%H:%M") %></td> 
    </tr>
    <tr>
      <th>Item ID</th>
      <th>Item Description</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Amount</th>
    </tr>
<% @order.order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.id %></td>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.item.price %></td>
      <td><%= order_item.total %></td>
    </tr>
<% end %>
    <tr><td> </td><td> </td><td> </td>  <td colspan="1" class = "w3-right">Sub Total:</td> <td colspan="1"><%= @order.total %></td></tr>
    <tr>  <td> </td><td> </td><td> </td> <td colspan="1" class = "w3-right">GST:</td> <td colspan="1"><%= @order.gst %></td></tr>
    <tr>  <td>Order No: <%= @order.id %> </td><td> </td><td> </td><td colspan="1" class = "w3-right"><b>Total:</b></td> <td colspan="1"><%= @order.grandtotal %></td> </tr>
    <tr><td>&nbsp</td></tr><tr><td>&nbsp</td></tr>
    <tr>  <td colspan="5">Thank you!</td> </tr>
    <tr>  <td colspan="5">Come again!</td> </tr>

  </table>
  <br>
  <%= link_to "Edit Order", edit_order_path(@order.id), class: "w3-button w3-red" %>
  <%= link_to "Print Order", edit_order_path(@order.id), class: "w3-button w3-red" %>
  <%= link_to "Back to Orders", orders_path, class: "w3-button w3-red" %>
</div>
<% end %>

