<div class="w3-container w3-theme">
  <h2>Create a New Item</h2>
</div>


<%= form_for @item, html: { multipart: true,:class => "w3-container"} do |f| %>
  <p>
	  <%= f.label :image %>
			<%= f.file_field :image, :size => "130x90", :class => "w3-input w3-border" %>
  </p>
  <p>
	  <%= f.label :name %>
			<%= f.text_field :name, :class => "w3-input w3-border" %>
  </p>
<p>
  	<%= f.label :price %>
			<%= f.text_field :price, :class => "w3-input w3-border" %>
</p>
<p>
	<%= f.label :category %>
			<%= f.collection_select(:category_id, Category.all, :id, :name, {}, { :class => "w3-input w3-border", :style => "display:block;" }) %>
</p>	
  	<%= f.submit "Create", :class => "w3-button w3-block w3-red" %>
  
<% end %>