<div class="w3-container">
  <h2><%= @category.name %></h2>

	<table class="w3-table w3-striped w3-bordered">
	
		<tr>
		  <th></th>
		  <th>Name</th>
		  <th>Description</th>
		  <th>Price</th>
		  <th>Explore</th>
		</tr>
		<% @items.each do |i| %>
			<tr>
				<td><%= image_tag i.image, :size => "130x90" %></td>
			  <td><%= i.name %></td>
			  <td><%= i.description %></td>
			  <td><%= i.price %></td>
			  <td><%= link_to "More..", item_path(i) %></td>
			</tr>
		<% end %>

    </table>
</div>